.glass-card {
    z-index: 10;
    background: rgba(112, 112, 112, 0.149);
    border-radius: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.192);
    border-left: 1px solid rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(6px);
}